@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-weight: normal;

    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Roboto Slab', serif;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background: rgb(0, 72, 122);
    background: linear-gradient(149deg, rgba(0, 72, 122, 1) 0%, rgba(0, 123, 208, 1) 100%);
}

.header {
    color: #fff;
    background-color: #333;
    width: 100%;
    text-align: center;
}

.container {
    margin: 40px 0;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.container>* {
    flex: 0 1 400px;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.content>* {
    width: 600px;
}

#category {
    position: sticky;
    top: 0;
    left: 0;
}

.value {
    padding-left: 20px;
    border-left: solid 1px #ffff;
}

.control {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.selecting>.key {
    font-weight: bold;
    color: #ff5f;
}

input {
    color: white;
    background: linear-gradient(149deg, rgba(38, 55, 66, 1) 0%, rgba(60, 60, 60, 1) 100%);
    transition: all 0.25s ease-in-out;
    border-radius: 10px;
}

input[type=button], input[type=text] {
    height: 30px;
}

textarea {
    color: white;
    border-width: 0;
    border-radius: 10px;
    min-height: 50px;
    max-height: 500px;
    background: rgb(38, 55, 66);
    background: linear-gradient(149deg, rgba(38, 55, 66, 1) 0%, rgba(60, 60, 60, 1) 100%);
    transition: all 0.25s ease-in-out;
}

textarea:blank {
    height: 100px;
}

.param {
  color: #ff5f;
}